/*
colors used:
background color-fad61d (yellow)
*/

body {
  font-family: 'Ruslan Display', cursive;
  font-weight: 300;
  font-size: 30px;
  line-height: 2;
  background-color: #fad61d;
  text-decoration-color: #000;
  text-align: center;
  color: #000;
}

h1 {
  text-align: center;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
  align-items: flex-start;
  padding: 20px;
}

.button-class {
  background-color: #f00;
  border: none;
  color: #000;
  border: 3px solid #f00;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

@media all and (max-width: 750px) {
  h1 {
    font-size: 40px;
    text-align: inherit;
  }

  ul {
    font-size: 20px;
  }
}
